
body {
   position: absolute;
   width: 1440px;
   height: 1093px;
   background-image: url(../CSS\ Advanced/Object.png);
   background-repeat: no-repeat;
   overflow-x: hidden;

}

.logo {
  font-size: 24px;
  margin: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
  margin-left: 100px;
}

.nav-links {
  display: flex;
  margin: 2rem auto;
  list-style: none;
  gap: 1rem;
  align-items: center;
  padding: 0 auto;
  text-decoration: none;
  width: 100%;
  max-width: center;
  margin-top: 1rem;
  margin-right: 200px;
}

nav {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 1rem 2rem;
   position: 172.50px 35.02px;
   gap: 700px;
}
nav a {
   color:rgb(255, 255, 255);
   text-decoration: none;
width: 234px;
height: 15px;
left: 1041px;
top: 37px;
font-family: 'Source Sans Pro';
font-style: normal;
}
h1 {
   color:rgb(255, 255, 255);
   font-size: 120px;
   text-align: center;
   font-family: 'Source Sans Pro';
   font-weight: bold;
}
   @font-face {
  font-family: 'Source Sans Pro';
  src: url(../source-sans-pro/SourceSansPro-Bold.otf);
  font-weight: bold;
}
div {
  
   color:rgb(255, 255, 255);
}
button {
   align-items: center;
    margin-top: 20px;
    text-decoration: none;
    list-style: none;
    border: none;
    background-color: #C271FF;
  padding: 0;
  margin-top: 20px;
  font: inherit;
  color: inherit;
  cursor: pointer;
  font-family: 'Source Sans Pro';
  background-color: #C271FF;
  color: rgb(255, 255, 255);
  border: none;
  padding: 15px 20px;
  border-radius: 80px;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.6); /* purple glow all around */
  transition: box-shadow 0.9s ease;
}
.hy {
   gap: 700px;
   margin-top: -100px; 
   font-family: 'Source Sans Pro';
   margin-right: 50px 50px 50px;

}
h2 {
   text-align: center;
   margin-top: 120px;
   font-size: 32px;
   
}

.img1 {
   width: 130px;
}
.img2 {
   width: 130px;
}
.img3 {
   width: 130px;
}
.img4 {
   width: 130px;
}

.one1 {
   margin-left: 220px;
   margin-top: 10px;
   font-family: 'Source Sans Pro';
}
.one2 {
   margin-left: 220px;
   font-size: 14px;
   margin-top: -15px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   font-style: italic;
}
.hy2 {
   margin-left: 220px;
   position: relative; 
   top: 0; 
   right: 0;
}
.second1{
   margin-left: 500px;
   margin-top: -70px;
   font-family: 'Source Sans Pro';
}
.second2 {
   margin-left: 510px;
   font-size: 14px;
   margin-top: -15px;
   display: flex;
   justify-content: space-between;
   align-items: center; 
   font-style: italic;
}
.three1{
   margin-left: 760px;
   margin-top: -85px;
   font-family: 'Source Sans Pro';
}
.three2 {
   margin-left: 760px;
   font-size: 14px;
   margin-top: -15px;
   display: flex;
   justify-content: space-between;
   align-items: center; 
   font-style: italic;
}
.four1{
   margin-left: 999px;
   margin-top: -100px;
   font-family: 'Source Sans Pro';
}
.four2 {
   margin-left: 999px;
   font-size: 14px;
   margin-top: -15px;
   display: flex;
   justify-content: space-between;
   align-items: center; 
   font-style: italic;
}


.section1 {

position: absolute;
width: 1440px;
height: 392px;
left: -1px;
top: 1093px;
background: #C271FF;
margin-top: -112px;
margin-left: -10px;
}
.person1 { 
  margin-left: 250px;
  margin-top: 110px;
}

.orange01 {
   font-size: 22px;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   margin-left: 470px;
   margin-top: -150px;
}

.personame {
   font-size: 22px;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   margin-left: 470px;
   margin-top: 0;
}
.personper {
   font-size: 22px;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   margin-left: 470px;
   margin-top: -10px;
   font-style: italic;
}
.therdpart {
  color:rgb(0, 0, 0);
  margin-top: 450px;
  font-size: 32px;
}



.rating{
    align-items: center;
    justify-content: space-between;
    display: flex;
    text-align: left;

}
.rating h2{
    font-size: 32px;
    position: absolute;
    top: 1582px;
    left: 583px;
    text-align: center;
    font-family: 'Source Sans Pro Light';
    font-weight: lighter;

}
.rating .different{
    font-family: 'Source Sans Pro';
    color: #C271FF;
    font-weight: bold;
}
.rating .first-rating{
    position: absolute;
    top: 1697px;
    left: 158px;
    text-align: left;
}
.rating .second-rating{
    position: absolute;
    top: 1697px;
    left: 444px;

    text-align: left;
}
.rating .third-rating{
    position: absolute;
    top: 1697px;
    left: 729px;
    text-align: left;
}
.rating .fourth-rating{
    position: absolute;
    top: 1697px;
    left: 1014px;
    text-align: left;
    
}
.rating .f-img{
    position: absolute;
    top: 45px;
    left: 85px;
}
.rating .s-img{
    position: absolute;
    top: 45px;
    left: 90px;
    padding: 0%;
    margin: 0%;
    text-align: center;
}
.rating .t-img{
    position: absolute;
    top: 45px;
    left: 90px;
    padding: 0%;
    margin: 0%;
    text-align: center;
}
.rating .fo-img{
    position: absolute;
    top: 45px;
    left: 90px;
    padding: 0%;
    margin: 0%;
    text-align: center;
}
.rating h3{
    font-family: 'Source Sans Pro';
    font-size: 16px;
}
.rating p{
    color: rgba(7, 22, 41, 0.5016);
    font-size: 14px;
    font-family:'Source Sans Pro Light' ;
}
.rating .rat{
    display: flex;
}
.rating h4{
    color: #C271FF;
    font-family: 'Source Sans Pro';
    font-size: 14px;
}
.rating .m8{
    color: #C271FF;
    font-size: 14;
    font-family: 'Source Sans Pro Light';
    position: absolute;
    top: 285px;
    left: 223px;
}
.rating .stars{
    color: #C271FF;
    font-weight: lighter;
}
.ratinng .stars-1{
    color:rgba(7, 22, 41, 0.5016);
}
.black-part{
    position: absolute;
    top: 2126px;
    display: flex;
    justify-content: space-between;
    background-color: rgba(7, 22, 41, 1);
    padding: 272px 720px;
    align-items: center;
}
.black-part h2 {
    position: absolute;
    left: 617px;
    top: 70px;
    font-size: 32px;
    font-family: 'Source Sans Pro Light';
    color: white;
    font-weight: lighter;
}
.black-part .different{
    font-family: 'Source Sans Pro';
    color: #C271FF;
}
.black-part .f-black{
    position: absolute;
    left: 214px;
    top: 188px;
    color: white;
    text-align: center;
}
.black-part .s-black{
    position: absolute;
    left: 498px;
    top: 188px;
    color: white;
    text-align: center;
}
.black-part .t-black{
    position: absolute;
    left: 783px;
    top: 188px;
    color: white;
    text-align: center;
}
.black-part .fo-black{
    position: absolute;
    left: 1069px;
    top: 188px;
    color: white;
    text-align: center;
}
.black-part h3{
    font-family: 'Source Sans Pro';
    font-size: 18px;
}
.black-part p{
    font-family: 'Source Sans Pro Light';
}
.faq h2 {
    position: absolute;
    left: 657px;
    top: 2650px;
    font-size: 60px;
    font-family: 'Source Sans Pro Light';
    font-weight: lighter;
}
.faq .f-h{
    position: absolute;
    left: 242px;
    top: 2799px;
    font-size: 16px;
    font-family: 'Source Sans Pro';
}
.faq .s-h{
    position: absolute;
    left: 812px;
    top: 2799px;
    font-size: 16px;
    font-family: 'Source Sans Pro';
}
.faq .t-h{
    position: absolute;
    left: 242px;
    top: 3244px;
    font-size: 16px;
    font-family: 'Source Sans Pro';
}
.faq .fo-h{
    position: absolute;
    left: 812px;
    top: 3244px;
    font-size: 16px;
    font-family: 'Source Sans Pro';
}
.faq .f-p{
    position: absolute;
    left: 242px;
    top: 2869px;
    text-align: left;
    font-size: 14px;
    line-height: 2;
    font-family: 'Source Sans Pro Light';
    font-weight: lighter;
    color: rgba(7, 22, 41, 0.5016);
}
.faq .s-p{
    position: absolute;
    left: 812px;
    top: 2869px;
    font-size: 14px;
    line-height: 2;
    font-family: 'Source Sans Pro Light';
    font-weight: lighter;
    color: rgba(7, 22, 41, 0.5016)
}
.faq .t-p{
    position: absolute;
    left: 242px;
    top: 3314px;
    font-size: 14px;
    line-height: 2;
    font-family: 'Source Sans Pro Light';
    font-weight: lighter;
    color: rgba(7, 22, 41, 0.5016)
}
.faq .fo-p{
    position: absolute;
    left: 812px;
    top: 3314px;
    font-size: 14px;
    line-height: 2;
    font-family: 'Source Sans Pro Light';
    font-weight: lighter;
    color: rgba(7, 22, 41, 0.5016)
}
.last-part{
    position: absolute;
    top: 3639px;
    display: flex;
    justify-content: space-between;
    background-color: rgba(7, 22, 41, 1);
    padding: 155px 720px;
    color: white;
}
.last-part .l-img{
    position: absolute;
    left: 165px;
}
.last-part p{
    position: absolute;
    left: 672px;
    top: 295px;
    color: rgba(116, 123, 134, 0.588)
}
.last-part .facebook{
    position: absolute;
    left: 1070px;
}